  <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
    <a href="/" class="text-lime-500 hover:text-emerald-800">Inicio</a>
    <a href="/properties/" class="text-lime-500 hover:text-emerald-800">Propiedades</a>
    <!-- <a href="#" class="hover:text-gray-300">Servicios</a>
    <a href="/properties/" class="hover:text-gray-300">Contacto</a> -->
  </nav>