


/* Estilos de la barra de navegación */

/* Hamburger Icon */
.hamburger {
  padding: 15px 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.hamburger .line:last-child {
  margin-bottom: 0;
}

/* Nav Links Container */
.nav-links {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #23262d;
  transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  display: none; /* Inicialmente oculto en pantallas pequeñas */
}

/* Nav Links Styles */
.nav-links > a {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #23262d;
  color: white;
  border-radius: 4px;
  transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.nav-links > a:hover {
  color: #23262d;
  background-color: rgb(137, 121, 121);
}


.expanded {
  position: absolute;
  top: calc(100% + .5rem);
  display: flex;
  flex-direction: column;
}
  
/* Expanded Nav Links Styles for Larger Screens */
@media screen and (min-width: 636px) {
  .nav-links {
    display: flex; /* Muestra los enlaces en pantallas más grandes */
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none; /* Oculta el ícono del menú en pantallas más grandes */
  }

  .expanded{
    position: static;
    display: flex;
    flex-direction: row;
  
  }
}

/* Theme */

html.dark {
  background-color:  #23262d;
}

.dark .nav-links a {
  color: #fff;
}

