---
import FilterMenu from '../../components/FilterMenu.astro';
import Layout from '../../layouts/Layout.astro';

const titlePage='Barrios cerrados y countries'
---

<Layout title={titlePage}>
<div class="flex w-full max-w-screen-xl mx-auto  h-screen">
    <!-- ASIDE OF FILTERS of entrepreneurship -->
    <FilterMenu />

    <!-- LIST HOUSE -->
    <main class="w-3/4">
      <!-- Contenido de la lista de casas -->
      <h1 class="text-4xl font-bold">List of houses</h1>
    </main>
  </div>
  </Layout>