---
import type { MarkdownInstance } from "astro";
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";


export async function getStaticPaths() {
 const allPosts = await getCollection("posts");

  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts } ,
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag}>
  <main>
    <h2>Entradas etiquetadas con {tag}</h2>
    {
      posts.map((post) => (
        <Card
          href={`/posts/${post.slug}/`}
          title={post.data.title }
          body={post.data.description}
        />
      ))
    }
  </main>
</Layout>
