---
import Layout from "../../layouts/Layout.astro";
import TagsList from "../../components/TagsList.astro";
import { getCollection } from "astro:content";

const allPosts=  await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const titlePage = "Etiquetas";

---

<Layout title={titlePage}>
    <main>
    <h2>Algunas Etiquetas:</h2>
    <TagsList tags={tags} />
</main>
</Layout>

